.numbers {
  display: flex;
  /* justify-content: center; */
  gap: 40px;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.active {
  color: white;
  background-color: red;
  padding: 2px 5px;
  border-radius: 50%;
}
